<h1 class="my-5">Nos Voitures</h1>

{{ mardiMatin }}

{{ age }} ans

<div class="text-center shadow border p-5 bg-dark text-danger">
  <h1>{{ game.title }}</h1>
  <p>Support : {{ game.support }}</p>
  <p>Multi : {{ game.multi }} joueurs</p>
  <p>Stock : {{ getStock() - 100 }} en stock</p>
 

  <img [src]="coverImage" alt="{{ game.title }}">
  <button class="my-3 btn btn-success" [disabled]="isNotAvailable()">Commander</button>

<input class="form-control" type="text" [value]="userEmail">

</div>
