<footer class="bg-dark p-5 fixed text-white text-center">
    <p class="font-weight bold">Nabil </p>

    <div class="d-flex justify-content-center">

        <a href ="#" i class="fab fa-github fa-2mx mx-3 " ></a>
        <a href ="#" i class="fab fa-linkedin fa-2mx mx-3" ></a>
        <a href ="#" i class="fab fa-youtube fa-2mx mx-3"></a>
        <a href ="#" i class="fab fa-instagram fa-2mx mx-3"></a>
        <a href ="#" i class="fab fa-snapchat fa-2mx mx-3"></a>
        <a href ="#" i class="fab fa-twitter fa-2mx mx-3"></a>
        <a href ="#" i class="fab fa-facebook fa-2mx mx-3"></a>
        <a href ="#" i class="fab fa-whatsapp fa-2mx mx-3"></a>

    </div>

</footer>