<h1 class=my-5>Creer votre voiture</h1>
<form>
    <div class="form-group">
        <label for="name">Nom de la voiture</label>
        <input type="text" class="form-control" id="name" placeholder="Nom">
    </div>
    <div class="form-group">
        <label for="pays">Pays d'origine</label>
        <input type="text" class="form-control" id="name" placeholder="Pays">
    </div>
    <div class="form-group">
        <label for="coverImage">Photo de la voiture</label>
        <input type="text" class="form-control" id="coverImage" placeholder="Image">
    </div>
    <div class="form-group">
        <label for="power">Puissance</label>
        <input type="text" class="form-control" id="power" placeholder="Puissance">
    </div>
    <div class="form-group">
        <label for="pays">Performances</label>
        <input type="text" class="form-control" id="perf" placeholder="Performance">
    </div>
    <button class="btn btn-primary my-4">Enregistrer</button>
 
</form>
