<h1 class=my-5>Creer votre voiture</h1>
<div class="col-6 border shadow my-5 p-5">
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Nom de la voiture</label>
        <input type="text" class="form-control" id="name" name="name" ngModel placeholder="Nom">
    </div>
    <div class="form-group">
        <label for="pays">Pays d'origine</label>
        <input type="text" class="form-control" id="pays" name="pays" ngModel placeholder="Pays">
    </div>
    <div class="form-group">
        <label for="coverImage">Photo de la voiture</label>
        <input type="text" class="form-control" id="coverImage" name="coverImage" ngModel placeholder="Image">
    </div>
    <div class="form-group">
        <label for="power">Puissance</label>
        <input type="number" class="form-control" id="power" name="power" ngModel placeholder="Puissance">
    </div>
    <div class="form-group">
        <label for="perf">Performances</label>
        <input type="number" class="form-control" id="perf" name="perf" ngModel placeholder="Performance">
    </div>
    <button type="submit" class="btn btn-primary my-4">Enregistrer</button>

</form>
</div>