<h1 class=my-5>Creer votre pilote</h1>
<div class="col-6 border shadow my-5 p-5">
<form>
  <div class="form-group">
    <label for="name">Nom du pilote</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nom du pilote">

  </div>

<div class="form-group">
  <label for="pays">Pays d'origine</label>
  <input type="text" class="form-control" id="pays" name="pays" placeholder="Pays">

</div>



<div class="form-group">
  <label for="coverImage">Photo du pilote</label>
  <input type="text" class="form-control" id="coverImage" name="coverImage" placeholder="Image">


</div>


<div class="form-group">
  <label for="power">Categorie</label>
  <input type="text" class="form-control" id="category" name="category" placeholder="Categorie pratiquée">

</div>

<div class="form-group">
  <label for="like">Popularite</label>
  <input type="number" class="form-control" id="like" name="like" placeholder="Nombre de like">

</div>

<button type="submit" class="btn btn-primary my-4">Enregistrer</button>

</form>
</div>