<h1 class=my-5>Créer votre pilote</h1>
<div class="col-6 border shadow my-5 p-5">

  <form (ngSubmit)="onSubmit()" [formGroup]="driverForm">
    <div class="form-group">
      <label for="name">Nom du pilote</label>
      <input type="text" class="form-control" id="name" formControlName="fullName" placeholder="Nom du pilote" required>
    </div>

    <div class="form-group">
      <label for="pays">Pays d'origine</label>
      <input type="text" class="form-control" id="pays" formControlName="pays" placeholder="Pays" required>
    </div>



    <div class="form-group">
      <label for="coverImage">Photo du pilote (URL)</label>
      <input type="text" class="form-control" id="coverImage" formControlName="coverImage" placeholder="Image" required>
    </div>


    <div class="form-group">
      <label for="category">Discipline</label>
      <input type="text" class="form-control" id="category" formControlName="category"
        placeholder="Categorie pratiquée" required>
    </div>


    <button type="submit" class="btn btn-primary my-4" [disabled]="driverForm.invalid">Enregistrer</button>

  </form>
</div>